main {
  background-color: inherit;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}

p {
  margin: 30px 86px;
}

header {
  background-color: #fff8d5;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
}

h2 {
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-left: 84px;
}

b {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

a {
  color: #676767;
  text-decoration: none;
}

#top {
  background-color: #bcd4e6;
  text-align: center;
}

#track-list {
  display: inline-block;
  font-size: 16px;
  margin-left: -80px;
  padding-bottom: 40px;
  padding-top: 20px;
  vertical-align: middle;
}

#image {
  display: inline-block;
  margin-bottom: -30px;
  margin-right: -80px;
  padding-top: 34px;
  vertical-align: middle;
}

#image p {
  color: #676767;
  margin-top: -30px;
  text-align: left;
}

img {
  border-radius: 15px;
}

blockquote {
  background-color: #fff8d5;
  border-radius: 15px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  text-align: center;
}

