main {
  background-color: inherit;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}

p {
  margin: 30px 86px;
}

header {
  background-color: #fff8d5;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
}

h2 {
  font-family: Nunito, sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-left: 84px;
}

b {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

a {
  color: #676767;
  text-decoration: none;
}

#top {
  background-color: #bcd4e6;
  text-align: center;
}

